@page

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>آموزش bootstrap</title>

    <link rel="icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>
<body>

    <div class="container shadow-lg py-2 my-3">
        <h1>
            &raquo; Learning Toast
        </h1>

        <hr />
    </div>
    <hr />

    <p>**************************************************</p>

    <div class="toast">
        <h1>
            Hey Saeid.
        </h1>
    </div>
    <hr />

    <p>**************************************************</p>

    <div class="toast-body">
        <h1>
            Hey Saeid.
        </h1>
    </div>
    <hr />

    <p>**************************************************</p>

    <div class="toast-container">
        <h1>
            Hey Saeid.
        </h1>
    </div>
    <hr />

    <p>**************************************************</p>

    <div class="toast-header">
        <h1>
            Hey Saeid.
        </h1>
    </div>
    <hr />

</body>
</html>