@page

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>آموزش bootstrap</title>

	<link rel="icon" href="~/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.rtl.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />

	@*<link rel="stylesheet" href="~/css/styleother.css" />*@
</head>
<!-- Body Start -->

<body>
	<!-- Begin Start -->
	<div class="container-fluid">
		<!-- Login Page -->
		<div class="containe">
			<div class="row row-col-2">
				<!-- Section Forms -->
				<div class="col-lg-4 bg-">
				</div>

				<!-- Section Images And Text -->
				<div class="col-lg-8 bg-info">
				</div>
			</div>
		</div>
		<!-- Login Page -->
	</div>
	<!-- End Begin -->
	<!-- JS Files Start -->
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
	
	<script src="~/lib/jquery/jquery.min.js"></script>
	@*<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>*@
	@*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
	@*<script src="~/lib/tinymce/tinymce.min.js"></script>*@
	<!-- End JS Files -->
</body>
<!-- End Body -->
</html>