<title>@(ViewData["PageTitle"])</title>

<meta name="author" content="Mr. Sa'id Ghadiri'" />
<meta name="description" content="A simple ASP.NET Core Razor Page Bootstrap 5.2.X Template for new projects." />
